<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashbord</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/css/all.css">
    <link rel="stylesheet" href="../font/css/all.min.css">
    <script src="../font/js/all.js"></script>
    <script src="../font/js/all.min.js"></script>
</head>
<body>
     <header class="header">
        <div class="header-logo"><a href="/Html/index.html"><img src="../images/logo.png" alt="logo"></a></div>
        <h2 class="admin-header-title">HR-SYSTEM</h2>
        <!-- <nav class="header-nav">
            <li class="header-nav-items"><a href="">HOME</a></li>
            <li class="header-nav-items"><a href="#about">ABOUT</a></li>
            <li class="header-nav-items"><a href="#service">SERVICE </a></li>
            <li class="header-nav-items"><a href="">CONTACT </a></li>
        </nav> -->
        <div class="logout-action">
           <a href="../components/login.html"> <button class="header-logout-button">logout</button></a>
    </header>
    <div class="admin__container">
        <div class="admin__siderBar">
            <ul>
                <li><a class="Dashboard-lists" href="#">Dashboard</a></li>
                <li><a class="Dashboard-lists" href="../components/table.html">Employees</a></li>
                <li><a class="Dashboard-lists" href="#">Attendance</a></li>
                <li><a class="Dashboard-lists" href="#">Recruitment</a></li>
                <li><a class="Dashboard-lists" href="#">Payroll</a></li>
                <li><a class="Dashboard-lists" href="#">Leave</a></li>
                <li><a class="Dashboard-lists" href="#">Settings</a></li>
            </ul>
        </div>
        <div class="admin_main">
            <img src="../images/image.png" alt="">
        </div>
    </div>

    <!-- footer -->
    <div class="admin__footer">
        <div class="footer-contents">
            <div class="footer-lists">
                <h4 class="footer-titles">LEARN MORE</h4>
                <a href="">How it works?</a>
                <a href="">Useful tools</a>
                <a href="">Pricing</a>
                <a href="">Sitemap</a>
            </div>
        
            <div class="footer-lists">
                <h4 class="footer-titles">SUPPORT</h4>
                <a href="">FAQ</a>
                <a href="">Contact us</a>
                <a href="">Help Desk</a>
                <a href="">Knowledge base</a>
            </div>
        
            <div class="footer-lists">
                <h4 class="footer-titles">ABOUT US</h4>
                <a href=""> About us</a>
                <a href=""> Careers</a>
                <a href="">Terms of service</a>
                <a href="">Privacy Policy</a>
            </div>
            <div class="footer-lists">
                <h4 class="footer-titles">CONNECT WITH US</h4>
                <ul  class="footer-social-media">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </ul>
              
            </div>
        
        </div>
        
    </div>
</body>
</html>