<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashbord</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/css/all.css">
    <link rel="stylesheet" href="../font/css/all.min.css">
    <script src="../font/js/all.js"></script>
    <script src="../font/js/all.min.js"></script>
</head>
<body>
     <header class="header">
        <div class="header-logo"><a href="index.html"><img src="../images/logo.png" alt="logo"></a></div>
        <h2 class="admin-header-title">HR-SYSTEM</h2>
        <!-- <nav class="header-nav">
            <li class="header-nav-items"><a href="">HOME</a></li>
            <li class="header-nav-items"><a href="#about">ABOUT</a></li>
            <li class="header-nav-items"><a href="#service">SERVICE </a></li>
            <li class="header-nav-items"><a href="">CONTACT </a></li>
        </nav> -->
        <div class="logout-action">
           <a href="../components/login.html"> <button class="header-logout-button">logout</button></a>
    </header>
    <div class="admin__container">
        <div class="admin__siderBar">
            <ul>
                <a href=""><li>Bashboard</li></a>
                <a href=""><li>Employees</li></a>
                <a href=""><li>Attendance</li></a>
                <a href=""><li>Recruitment</li></a>
                <a href=""><li>Payroll</li></a>
                <a href=""><li>leave</li></a>
                <a href=""><li>Seting</li></a>
            </ul>
        </div>
        <div class="admin_main">
            <img src="../images/image.png" alt="">
        </div>
    </div>
    <div class="admin__footer">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</body>
</html>